.fs-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-spinner--dots .fs-spinner__dot {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  background-color: var(--primary);
  border-radius: 50%;
  animation: fs-bounce 0.6s infinite alternate;
}

.fs-spinner--circle .fs-spinner__circle {
  width: 24px;
  height: 24px;
  border: 6px solid;
  border-color: var(--secondary) transparent var(--secondary) transparent;
  border-radius: 50%;
  animation: fs-spin 1s linear infinite;
}

.fs-spinner--medium .fs-spinner__dot {
  width: 20px;
  height: 20px;
}
.fs-spinner--medium .fs-spinner__circle {
  width: 50px;
  height: 50px;
}

.fs-spinner--large .fs-spinner__dot {
  width: 30px;
  height: 30px;
}
.fs-spinner--large .fs-spinner__circle {
  width: 100px;
  height: 100px;
}

.fs-spinner--primary .fs-spinner__circle {
  border-color: var(--primary) transparent var(--primary) transparent;
}

.fs-spinner--secondary .fs-spinner__circle {
  border-color: var(--secondary) transparent var(--secondary) transparent;
}

.fs-spinner--tertiary .fs-spinner__circle {
  border-color: var(--tertiary) transparent var(--tertiary) transparent;
}

@keyframes fs-bounce {
  to {
    transform: translateY(-50%);
    opacity: 0.6;
  }
}

@keyframes fs-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
