.fs-card {
  border-radius: 0.375rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: var(--spacing-4);
  overflow: hidden;
  color: black;
  margin: var(--spacing-4);
  display: inline-block; /* Ajusta la card al tamaño del contenido */
  min-width: 200px; /* Tamaño mínimo para cada card */
  min-height: 150px; /* Tamaño mínimo para cada card */
}

.fs-card--small {
  padding: 16px;
  font-size: 14px;
  min-width: 200px; /* Tamaño mínimo */
  min-height: 150px; /* Tamaño mínimo */
  text-align: left;
}

.fs-card--medium {
  padding: 16px;
  font-size: 16px;
  min-width: 300px; /* Tamaño mínimo */
  min-height: 200px; /* Tamaño mínimo */
  text-align: left;
}

.fs-card--large {
  padding: 24px;
  font-size: 18px;
  min-width: 400px; /* Tamaño mínimo */
  min-height: 300px; /* Tamaño mínimo */
  text-align: left;
}
