.fs-content-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  margin-top: 20px;
}

.fs-section h1 {
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.fs-img-components {
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}



