.fs-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  margin: 0 auto;
  max-width: 1200px;

  @media (min-width: 1024px) {
    width: 66.66%;
  }
}

.fs-home-content {
  padding-bottom: 50px;
}

.fs-home__header {
  font-size: 24px;
  color: #333;
}

.fs-image-home {
  width: 450px;
}

@media (max-width: 1024px) {
  .fs-image-home {
    width: 250px;
  }
}
