/* Template.css */

.fs-template {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 515px;
  height: 100vh;
  padding: var(--spacing-5); /* Espacio alrededor del contenido */
  padding-top: 120px;
  text-align: justify;
}

.fs-template__description {
  margin-bottom: var(--spacing-5);
  font-size: var(--font-size-body-desktop);
  line-height: 1.6;
  font-weight: 300;
}

.fs-template__divider {
  width: 100%;
  margin: var(--spacing-6) 0;
  border-top: 1px solid var(--border-color); /* Usar el color de borde ya definido */
}

.fs-template__link {
  display: inline-block;
  margin-top: var(--spacing-5);
  padding: var(--spacing-2) var(--spacing-4);
  background-color: var(--primary); /* Usar el color de fondo primario */
  color: var(--basic-dark); /* Usar el color de texto claro */
  text-decoration: none;
  border-radius: var(--border-radius);
  font-weight: var(--font-weight-medium);
  transition: background-color 0.3s ease;
}

.fs-template__link:hover {
  background-color: var(
    --primary-hover
  ); /* Usar el color de fondo primario en hover */
}
