.fs-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.fs-icon--circle {
  border-radius: 50%;
  height: 44px;
  width: 44px;
}

.fs-icon--square {
  border-radius: 0.3rem;
  height: 44px;
  width: 44px;
}

.fs-icon--correct {
  background-color: #15be77;
}

.fs-icon--warning {
  background-color: #ffa100;
}

.fs-icon--alert {
  background-color: #ff005c;
}
