.fs-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 3em;
  font-weight: 700;
  line-height: 1;
}
.fs-button--primary {
  background-color: #1ea7fd;
  color: white;
}
.fs-button--secondary {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  background-color: transparent;
  color: #333;
}

.fs-button--success {
  background-color: #28a745;
  color: white;
}

.fs-button--danger {
  background-color: #dc3545;
  color: white;
}

.fs-button--warning {
  background-color: #ffc107;
  color: black;
}
.fs-button--small {
  padding: 10px 16px;
  font-size: 12px;
}
.fs-button--medium {
  padding: 11px 20px;
  font-size: 14px;
}
.fs-button--large {
  padding: 12px 24px;
  font-size: 16px;
}
