.fs--inputSearch {
  width: 100%;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  margin: 10px;
}

.fs--inputSearch:focus {
  border-color: #007bff; /* Cambia el color del borde al enfocar */
  outline: none; /* Elimina el outline por defecto */
}

.fs--inputSearch::placeholder {
  color: #999; /* Color del texto del placeholder */
  opacity: 1; /* Asegúrate de que el placeholder sea completamente visible */
}

.fs--inputSearch:focus::placeholder {
  color: transparent; /* Oculta el placeholder al enfocar */
}
