.fs-accordion {
  border-radius: 15px;
}

.fs-accordion--light {
  background: var(--basic-white);
  color: var(--basic-dark);
}

.fs-accordion--inverse {
  background: var(--bg-dark);
  color: var(--basic-white);
}

.fs-accordion--header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 15px;
}

.fs-accordion--header--light {
  border: 1px solid var(--basic-white);
}

.fs-accordion--header--inverse {
  border: 1px solid var(--bg-dark);
}

.fs-accordion--icon {
  font-size: 1.5rem;
  margin: 3px;
  transition: transform 0.5s ease-in-out;
}

.fs-accordion--icon:hover {
  color: var(--secondary);
}

.fs-accordion--icon__rotate {
  transform: rotate(180deg);
}

.fs-accordion-body {
  height: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
  border-radius: 15px;
}

.fs-accordion-body__show {
  height: auto;
  opacity: 1;
  padding: 1rem;
}

.fs-accordion-body--light {
  border: 1px solid var(--basic-white);
  border-top: none; 
}

.fs-accordion-body--inverse {
  border: 1px solid var(--bg-dark);
  border-top: none; 
}
