/* En header.css */
.fs-header {
  background-color: var(--bg-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.fs-header svg {
  display: inline-block;
  vertical-align: top;
}

.fs-header h1 {
  display: inline-block;
  vertical-align: top;
  margin: 6px 0 6px 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.fs-header button + button {
  margin-left: 10px;
}

.fs-header .welcome {
  margin-right: 10px;
  color: #333;
  font-size: 14px;
}

/* Agregar un margen superior al contenido principal */
.main-content {
  margin-top: 75px; /* Ajusta según la altura del header */
}
